

    <div class="modal-body">
        <h4>{{ pokemon.dataValues.name }}</h4>
        <h4></h4>
        
        <img src='' class="pokepic">
            
        <div class="question">
            
        </div>

        <div class="answer rounded" id="answer1">
            Answer 1
        </div>

        <div class="answer rounded" id="answer2">
            Answer 2
        </div>

        <div class="answer rounded" id="answer3">
            Answer 3
        </div>

        <div class="answer rounded" id="answer4">
            Answer 4
        </div>

    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Run Away</button>
    </div>


<script src="./js/battle.js"></script>