    <div>
        <h2>
            Let's find some pokemon!
            
        </h2>
    </div>
    <div class="row">
        <div class="small-12 plains">
            <div class="relative">
                <img src="/assets/sprites/Pixel_art_grass_image.png?raw=true" id="field" alt="grass-field">   
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="A9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="B9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="C9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="D9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="E9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="F9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="G9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="H9" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I1" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I2" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I3" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I4" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I5" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I6" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I7" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I8" alt="grass-image"></a>
                <a href="javascript:" onClick="this.style.display='none'"> <img src="/assets/sprites/quick_grass.png?raw=true" class="grass" id="I9" alt="grass-image"></a>
            </div>
        </div>
    </div>
<div class="reveal small" id="myModal" data-closable data-overlay="false" data-animation-in="fade-in" data-animation-out="fade-out" data-reveal>

      <div class="modal-body">

        <h4 id="pokemon-name"></h4>
            
        <div class="photo">
            <img src="/assets/sprites/quick_grass.png?raw=true" class="pokepic">
            {{!-- <img src="/assets/sprites/quick_grass.png?raw=true" class="grasspic"> --}}
        </div>

        <div class="test">

            <div class="question">
                
            </div>

            <div class="answers">

                <div class="answer" id="option1">
                    Answer 1
                </div>

                <div class="answer" id="option2">
                    Answer 2
                </div>

                <div class="answer" id="option3">
                    Answer 3
                </div>

                <div class="answer" id="option4">
                    Answer 4
                </div>

            </div>

        </div>

        <div class="modal-footer">

        </div>

      </div>

</div>

<script src="./js/index.js"></script>
<script>$(document).foundation();</script>

