    <div>
        <h1>
            Let's find some pokemon!
            
        </h1>
    </div>
        <div class="relative">
            <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/Pixel_art_grass_image.png?raw=true" id="field">   
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="A9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="B9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="C9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="D9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="E9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="F9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="G9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="H9"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I1"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I2"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I3"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I4"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I5"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I6"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I7"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I8"></a>
            <a href="javascript:" onClick="this.style.display='none'"> <img src="https://github.com/setocourtney/quiz-masters/blob/front-end/assets/sprites/quick_grass.png?raw=true" class="grass" id="I9"></a>
        </div>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-body">

        <h4 id="pokemon-name"></h4>
        
        <img src="" class="pokepic">

        <br><br>

        <div class="test">

            <div class="question">
                
            </div>

            <div class="answers">

                <div class="answer" id="option1">
                    Answer 1
                </div>

                <div class="answer" id="option2">
                    Answer 2
                </div>

                <div class="answer" id="option3">
                    Answer 3
                </div>

                <div class="answer" id="option4">
                    Answer 4
                </div>

            </div>

        </div>

        <div class="modal-footer">

        </div>

      </div>

    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./js/index.js"></script>

