
<div>
    <h1>
        WELCOME TO POKÉQUIZ
    </h1>
</div>

<main>
    <div>
        <img src="../public/assets/images/pokeball.png">
    </div>

    <form>
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
            <div class="cell">
                <label>Enter Username
                <input type="text" id="user_id" placeholder=".medium-6.cell">
                </label>
            </div>
        </div>
    </form>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $('#user_id').on('click', function() {
        //redirect to play
    });

</script>